<!--This page is coded by Mohammed Zahid Wadiwale and is intellectual property of Mohammed Zahid Wadiwale-->
<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<style type="text/css">
		nav{
			background-color: #d5adc8;
			background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
			color:white;
		}
		.nav-tabs li a{
			color:white;
		}
		.nav-tabs{
			text-align: center;
			width: 100%;
		}

		.navbar{
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
		}
		html {
			position: relative;
			min-height: 100%;
			overflow-x: hidden;
		}
		body {
			margin-bottom: 60px;
			overflow-x: hidden;
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px; /* Set the fixed height of the footer here */
			background-color: #d5adc8;
			background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
			overflow-x: hidden;
		}

	</style>
	<script type="text/javascript">
		var current_channel = "{{ current_channel }}";
		if (localStorage.getItem("username") === null) {
			window.location.href="../login";
		}
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
		socket.on('connect',function(){
			document.querySelector('#message').append('connected');
			document.querySelector('#send').onclick = function() {
				var susername = localStorage.getItem("username");
				const d = new Date();
				const hours=d.getHours();
				const minutes=d.getMinutes();
				const seconds=d.getSeconds();
				const time= hours+":"+minutes+":"+seconds;
				const day=d.getDate();
				const month=d.getMonth();
				const year=d.getFullYear();
				const timestamp=time+ "/"+day+"/"+month+"/"+year;
				const message = susername+" says:<br>"+document.querySelector('#mymessage').value;
				socket.emit('message',{'message':message,'channel':current_channel,'user':susername,'timestamp':timestamp});
				console.log("variable collected:"+message);
				document.querySelector('#mymessage').value="";
			};
		});
		socket.on('messages', function(msg){
			if(msg['channel']==current_channel){
				console.log("variable recieved:"+msg['message']);
				const li = document.createElement('div');
				var fusername = localStorage.getItem("username");
				var nusername = fusername.length;
				var len=msg['message'].substr(0, nusername);
				if (len==fusername) {
					li.innerHTML = `<div class="p-1 card bg-primary rounded w-75 float-right z-depth-0 mb-1"><div class="card-body text-white">Today ${msg['timestamp']} ${msg['message']}</div></div>`;
				}
				else{
					li.innerHTML = `<div class="p-1 card bg-light rounded w-75 z-depth-0 mb-2"><div class="card-body">Today ${msg['timestamp']} ${msg['message']}</div></div>`;
				}
				document.querySelector('#message').append(li);
			}
		});
	</script>
</head>
<body>
	<nav class="navbar sticky-top justify-content-center">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<a style="color:white;text-decoration: none;" href="#"><h4>WhatHappen</h4></a>
			<br>
			<a style="color:white;" href="../../">Go Back</a>
			<a style="color:white;" href="#">{{ current_channel }}</a>
		</button>
	</nav>
	<main>
		<div style="padding: 2px;margin: 2px;" id="message" class="container-fluid">
			<h5 align="center">Earlier Messages</h5>
			{% for message in messages %}
			<div align="center" style="background-color: #C0C0C0;font-weight: bold;width: 80%;overflow-wrap: break-word;word-wrap:break-word;border-radius: 4px;">
				<p>On {{message[2]}} {{message[0]|replace("says", "said")|safe}}</p>
			</div>
			{% endfor %}
			<h5 align="center">Recent chat</h5>
		</div>
	</main>
	<footer class="footer">
		<div style="margin: 0;padding-left: 0;padding-right: 0;padding-top: 1px;" class="container-fluid">
			<div class="input-group md-form form-sm form-2 pl-0">
				<input class="form-control my-0 py-1 red-border" id="mymessage" type="text" placeholder="Send Message" aria-label="Messagebar">
				<div class="input-group-append">
					<button class="input-group-text red lighten-3" id="send"><i class="fa fa-paper-plane"
			        aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
